.footer{
    background-color: black;
    color: white;
    margin-bottom: -20px;
    padding-top: 5px;
    padding-left: 10px;
    margin-left: -8px;
}
a {
  color: white;
  text-decoration: none;          
}

a:visited {
  color: rgb(43, 210, 65);          
}
a:hover {
  color: blue;          
}

a:active {
  color: red;            
}
