body{
  background-image: url("PICTURES/background1.jpg"),url("PICTURES/background2.jpg"),url("PICTURES/background3.png");
  background-repeat: no-repeat;
  background-position: center center,bottom right,top left;  
}
.seats{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.seat-row{
    border: 1px solid black;
}
h2{
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 30px;
}
h3{
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 20px;
}
p{
    font-family: 'Cookie', cursive;
    font-size: 30px;
    font-weight: 400;

}
hr{
  border: none;
  height: 2px;
  background: black;
  width: 50%;
  margin: 20px auto;
}
.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8 {
    display: inline-flex;
    justify-content: center;
    margin-left: 20px;
   
}
.A1, .A2, .A3, .A4, .A5, .A6, .A7, .A8 {
    display: inline-flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 0px;
    font-family: 'Cookie', cursive;
    font-size: 20px;
}
.seat1 ,.seat2, .seat3, .seat4, .seat5, .seat6, .seat7, .seat8{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 150px;
    cursor: pointer;
}
.seat-row button{
    width: 25px;
    height: 25px;
    margin: 5px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 8px;
}
.seat-row button:hover{
    background-color: lightskyblue;
}
.seat-row button.active{
    background-color: greenyellow;
}

.screen-img{
    width:500px;
    height: auto;
    margin-top: 20px;
    margin-left: 300px;
    display: block;
}
.Example{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    margin-left: -30px;
    font-family:'Cookie', cursive;
    font-size: 20px;
}
.available-button{
    background-color: lightskyblue;
}
.selected-button{
    background-color: greenyellow;
}
.sold-button{
    background-color: red;
}
.ticket{
    border: 1px solid black;
    font-size: 100px;
    padding-left: 10px;
}
.terms{
    font-family:'Cookie', cursive;
    font-size: 20px;
}
.t1{
    color: red;

}
.pay-now{
    align-content: center;
    margin-left: 90px;
}
.pay-now button{
    height: 50px;
    width:80px;
    background-color: blueviolet;
    color: black;
    font-weight: 600;
    font-size: 25px;
}
.pay-now button:hover{
    background-color: cyan;
}
.pay-now button:active{
    background-color: chartreuse;
}
#zin{
    height:40px;
    width:40px;
    font-size: 25px;
    margin-left:100px;

}
#zout{
    height:40px;
    width:40px;
    font-size: 25px;
    margin-left:20px;

}
@media (max-width: 1236px){
    .seat1 ,.seat2, .seat3, .seat4, .seat5, .seat6, .seat7, .seat8{
    margin-left: 100px;
    }
    .screen-img{
    margin-left: 250px;
    }
}
@media (max-width: 1000px){
    .seat1 ,.seat2, .seat3, .seat4, .seat5, .seat6, .seat7, .seat8{
    margin-left: 80px;
    }
    .screen-img{
    margin-left: 200px;
}
}    

@media (max-width: 600px){
    .seat1 ,.seat2, .seat3, .seat4, .seat5, .seat6, .seat7, .seat8{
    margin-left: 20px;
    }
    .screen-img{
    margin-left: 150px;
    }
    

} 